@import "../../../utilities/variables";

.game-sidebar {
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-sidebar-currency {
  padding: 1em;

  display: flex;
  align-items: space-around;

  div {
    margin: 0 1em;
    filter: drop-shadow(0px 0px 12px black);
  }
}

.game-sidebar-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-sidebar-tabs {
  display: flex;
}

.game-sidebar-tab-el {
  width: 100%;
  padding: 0.8em;

  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px 5px 0px 0px;

  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.game-sidebar-options-content {
  flex-grow: 1;
  padding: 1em;

  border: 0px solid rgb(50, 50, 50);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-radius: 0px 0px 5px 5px;

  background-color: rgba(0, 0, 0, 0.3);
}

.game-sidebar-upgrade-dot {
  width: 15px;
  height: 15px;

  position: absolute;
  top: 20%;
  left: 95%;

  border: 2px solid rgba(0, 0, 50, 0.9);
  border-radius: 100%;

  background: radial-gradient(
    adjust-color($color: $buttonColor, $hue: 330, $lightness: 10%),
    $buttonColor
  );

  filter: drop-shadow(0px 0px 0px $buttonColor);

  cursor: pointer;

  &:hover {
    background: radial-gradient(
      adjust-color($color: $buttonColor, $hue: 320, $lightness: 25%),
      $buttonColor
    );
    filter: drop-shadow(0px 0px 8px $buttonColor);
  }
}

.ship-diamond-upgrade-wrapper {
  min-width: 280px;
  min-height: 150px;

  padding: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid adjust-color($color: $buttonColor, $hue: 345, $alpha: -0.25);
  border-radius: 5px;

  color: $fontColor;
  background-color: adjust-color(
    $color: $buttonColor,
    $hue: 345,
    $saturation: -10%,
    $lightness: -45,
    $alpha: -0.2
  );

  backdrop-filter: blur(5px);
}

.diamond-upgrade {
  margin: 0.5em 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid adjust-color($color: $buttonColor, $hue: 345, $alpha: -0.25);
  border-radius: 5px;

  &:hover {
    background-color: adjust-color(
      $color: $buttonColor,
      $hue: 355,
      $lightness: -35,
      $alpha: -0
    );
  }
}

.game-sidebar-options-content-title {
  padding: 0.3em 0 1em 0;

  font: {
    size: 20px;
    weight: 300;
  }
}

@media (min-width: 768px) {
  .game-sidebar {
    border-right: 1px solid rgb(50, 50, 50);
  }
}
