@import "utilities/variables";

.main-home {
  a,
  a:hover,
  a:active,
  a:visited {
    color: rgb(
      156,
      128,
      255
    ); // could be the main theme color for the app (maybe? - or some similar color to this one)
  }
}

.main-title {
  margin: 0.5em;

  font: {
    size: 32px;
  }

  background: linear-gradient(white, rgb(216, 205, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-subtitle {
  color: rgb(242, 238, 255);
}

.home-article {
  margin: 3em;
}

.home-register-button {
  padding: 1em;

  font-size: 20px;

  filter: drop-shadow(0px 0px 1px $buttonColor);
  transition: transform 0.2s ease-in-out;
  animation: pulsating 3s ease-in-out infinite;

  &:hover {
    transform: scale(105%);
    background: change-color($color: $buttonColor, $alpha: 0.7);
  }
}

.home-login-info {
  font: {
    size: 14px;
  }
}

.side-anim {
  animation: blurAppear 1s ease-in-out 1;
}

@keyframes pulsating {
  0% {
    filter: drop-shadow(0px 0px 1px $buttonColor);
  }
  50% {
    filter: drop-shadow(0px 0px 15px $buttonColor);
  }
  100% {
    filter: drop-shadow(0px 0px 1px $buttonColor);
  }
}

@keyframes blurAppear {
  from {
    transform: scale(90%);
    filter: blur(10px);
  }
  to {
    transform: scale(100%);
    filter: blur(0);
  }
}
