@import "../../../utilities/variables";

$levelBorderDist: 0.2em;

.game-main {
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-spacing {
  height: 15%;
}

.main-current-level {
  width: fit-content;
  margin-bottom: $levelBorderDist;
  padding-bottom: $levelBorderDist;

  font: {
    size: 24px;
    weight: 400;
  }

  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(
    ellipse at bottom,
    $fontColor,
    transparent
  );
}

.main-current-stage {
  font: {
    size: 18px;
    weight: 300;
  }
}

.main-planet-name-title {
  margin: 2em 0em 0.2em 0em;

  font: {
    size: 14px;
    weight: 100;
  }
}

.main-planet-name {
  margin: 0em 1em 1em 1em;

  font: {
    size: 22px;
    weight: 400;
  }
}

.main-planet-image {
  width: 250px;
  height: 250px;

  border-radius: 100%;
  background-color: gray;

  animation: breathe 4s infinite, levitate 5.5s infinite;

  cursor: pointer;
}

.main-planet-health-title {
  margin: 3em 1em 0.5em 1em;

  font: {
    size: 20px;
    weight: 400;
  }
}

.main-planet-healthbar {
  width: 66%;
  height: 25px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(230, 230, 230, 0.2);
  border-radius: 5px;
}

.main-planet-healthbar-amount {
  position: absolute;
}

.main-planet-healthbar-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-planet-healthbar-above {
  //width: 100%;
  height: 100%;

  background: radial-gradient(
    ellipse at bottom,
    rgba(0, 106, 192, 0.6),
    rgba(42, 127, 202, 0.5)
  );
}

.main-planet-healthbar-under {
  background-color: rgba(0, 0, 0, 0.2);
}

.damage-text {
  position: absolute;

  text-shadow: 0px 0px 5px black;

  transform: translate(-50%, -50%);

  pointer-events: none;
  z-index: 1;
}

.damage-text-normal {
  font: {
    size: 16px;
    weight: 600;
  }

  color: gold;
}

.damage-text-critical {
  font: {
    size: 24px;
    weight: 600;
  }

  color: red;
}

@keyframes breathe {
  0% {
    filter: drop-shadow(0px 0px 2px gray);
  }
  50% {
    filter: drop-shadow(0px 0px 15px gray);
  }
  100% {
    filter: drop-shadow(0px 0px 2px gray);
  }
}

@keyframes levitate {
  50% {
    transform: translateY(3%);
  }
}

@keyframes fadeAway {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    transform: translate(-50%, 10%);
    opacity: 0;
    filter: blur(3px);
    display: none;
  }
}
