@import "../../../../../utilities/variables";

.stats-content {
  height: 70vh;

  display: flex;
  flex-direction: column;

  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
}

.stats-element {
  padding: 0.7em;

  display: flex;
  justify-content: space-between;

  font-size: 18px;

  border-bottom: 1px solid rgb(50, 50, 50);

  &:last-child {
    border: 0;
  }
}

.stats-element-left {
  font-weight: 400;
}

.stats-element-right {
  font-weight: 600;
}
